<div class="login-page">
  <div class="login-card">
    <div class="login-logo">Librería Nazareth</div>
    <div class="login-subtitle">Sistema de gestión</div>

    <div *ngIf="errorMessage" class="alert alert-error">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" placeholder="ejemplo@correo.com" [(ngModel)]="email"/>
    </div>

    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" placeholder="••••••••" [(ngModel)]="password"/>
    </div>

    <!-- <div class="form-group">
      <label>Rol</label>
      <select>
        <option value="">Seleccioná tu rol</option>
        <option value="admin">Administrador</option>
        <option value="vendedor">Vendedor</option>
        <option value="invitado">Invitado</option>
      </select>
    </div> -->

    <button class="btn-login" type="button" (click)="onLogin()">Iniciar sesión</button>

  </div>
</div>
