<div class="modal-overlay d-flex align-items-center justify-content-center" (click)="onCancelar()">
  <div class="modal-box-delete" (click)="$event.stopPropagation()">
    <div class="d-flex align-items-center gap-2 mb-3">
      <span class="modal-icon-delete">⚠️</span>
      <h3 class="modal-title-delete">Confirmar Eliminación</h3>
    </div>
    <p class="modal-text mb-3">
      Estás por eliminar <strong>{{ cantidad() }}</strong>
      {{ cantidad() === 1 ? 'producto' : 'productos' }}. Esta acción no se puede
      deshacer.
    </p>
    <div class="d-flex justify-content-end gap-2">
      <button class="btn-cancel-delete" (click)="onCancelar()">Cancelar</button>
      <button class="btn-delete" (click)="onConfirmar()">Eliminar</button>
    </div>
  </div>
</div>