section{
    margin: 50px 0 100px 0;
}
.container h2,h3{
    color: var(--color-dorado);
    font-family: 'Playfair Display', serif;
}

.container p,li{
    color: var(--color-texto-principal);
    font-family: 'Raleway', sans-serif;
}

.card {
    background: var(--color-dorado-medio);
    color: #eeeeee;
    transition: transform 0.2s ease-in-out;
    font-family: 'Raleway', sans-serif;
}

.card:hover {
    transform: translateY(-10px);
}
.circle{
    background-color: var(--color-fondo-medio);
}
.card-text{
    color: #eeeeee !important; 
}